<h3>Welcome, {{whoAmI.user.username}}</h3>
<div class="row">
  <h4>Your group: {{group.title}}</h4>
  <div class="col s6">
    {{#each group.members as |user|}}
    <h5>{{#link-to 'user' user.id}}{{user.username}}{{/link-to}}</h5>
    {{!-- Add logic to prevent guest from getting map--}}
      <button type="button" class='btn' name="button" {{action 'showDistance' user}}>Find distance from me</button>
    {{/each}}
  </div>
  <div class="col s6">
    <button type="button" class='btn' name="button" {{action 'showAll'}}>Show All Users on Map</button>
    {{#if (or showDistance showAll)}}
      {{google-map allUsers=group.members user=findUser showDistance=showDistance showAll=showAll}}
    {{/if}}
  </div>
</div>
