<div class="row">
  <h4>Group Game: {{group.title}}</h4>
  <div class="col s6">
    <h5>Group Members:</h5>
    {{#each group.members as |user|}}
    <div class="section">
      <h5>{{#link-to 'user' user.id}}{{user.username}}{{/link-to}}</h5>
      {{!-- Add logic to prevent guest from getting map--}}
      <button type="button" class='btn' name="button" {{action 'showDistance' user}}>Find distance from me</button>
    </div>
    {{/each}}
  </div>
  <div class="col s6">
    <div class="section">
      <button class='btn center' name="button" {{action 'showAll'}}>Show All Users on Map</button>
    </div>
    {{#if (or showDistance showAll)}}
      {{google-map allUsers=group.members user=findUser showDistance=showDistance showAll=showAll}}
    {{/if}}
  </div>
</div>
