<button name="signUp" id="signUp"class="waves-effect waves-light btn-large signUpBtn modal-trigger" {{action "openModal" 'signUpButton'}}>Sign Up</button>

<h6 class="sign-in-text">Already a member? Click <a class="blue-text" {{action "openModal" 'logInButton'}}>here</a> to log in!</h6>

{{#if modalIsOpen}}
  {{#md-modal close='closeModal' id="modal1"}}
    {{#if signUpButton}}
      {{sign-up-form newUser="newUser" closeModal="closeModal"}}
    {{else if logInButton}}
      {{sign-in-form signIn="signIn" closeModal="closeModal" allUsers=allUsers}}
    {{/if}}
  {{/md-modal}}
{{/if}}
