<div class="container">
  <div class="wrapper">
    <div class="row user-content">
      <div class="col s12 m6 l6">
        <div class="public-user-info">
          <div class="user-highlight">
            <h3>{{user.firstName}}</h3>
            <h6>{{user.username}} | {{user.email}}</h6>
            <h6>Joined {{moment-from-now user.joined}}</h6>
          </div>
          <div class="public-user-collection">
            <h4>{{user.firstName}}'s Collection:</h4>
            <ul class="collection">
              {{#each user.collection as |game|}}
              <li class="collection-item avatar">{{game-display-tile game=game}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="map-content">
          {{google-map user=user showDistance=showDistance}}
          <button class='class="waves-effect waves-light btn signUpBtn'  {{action 'showDistance'}}>Find distance from me</button>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <div class="public-user-wishlist">
        <h4>{{user.firstName}}'s Play List:</h4>
        {{#each user.wantToPlay as |playList|}}
        <h5><a href="http://boardgamegeek.com/boardgame/{{playList.gameId}}" target="_blank">{{playList.title}}</a></h5>
        {{/each}}
      </div>
    </div>
  </div>
</div>
