<div class="container">
  <div class="wrapper">
    <div class="welcome-header">
      <h1>Welcome, {{model.whoAmI.user.username}}</h1>
    </div>
    <div class="row">
      <div id="admin-section" class="col s4">
        {{admin-game-list games=model.databaseGames addToWantList="addToWantList"}}
        {{#link-to 'profile' model.whoAmI.user.username}}
          {{md-btn btnIcon='mdi-library-add' class="waves-effect waves-light btn signUpBtn" iconPosition='right' text='Add Games To Your Collection'}}
        {{/link-to}}
        {{admin-edit updateProfile="updateProfile" user=model.whoAmI.user}}
        {{admin-group-match users=model.users createGroups="createGroups"}}
      </div>
      <div class="col s8">
        <h4>Your collection</h4>
        {{admin-collection-list}}
      </div>
      <div class="col s4">
        {{admin-group-display}}
      </div>
    </div>
  </div>
</div>
